---
import Layout from "../layouts/Layout.astro";
import { Home, Skills, Projects, Contact } from "../components";
---

<Layout title="Nelson Dev">
  <Home />

  <main class="container">
    <Projects />
    <Skills />
    <Contact />
  </main>
</Layout>
