<div class="form-cont" id="contact">
  <h2>Contactame</h2>

  <form class="form" id="contact-form">
    <div class="form-camp">
      <label for="camp-name">Nombre</label>
      <input type="text" required id="camp-name" name="name" />
    </div>

    <div class="form-camp">
      <label for="camp-phone">Telefono</label>
      <input type="tel" required id="camp-phone" name="phone" />
    </div>

    <div class="form-camp">
      <label for="camp-email">Email</label>
      <input type="email" required id="camp-email" name="email" />
    </div>

    <div class="form-camp">
      <label for="camp-subject">Asunto</label>
      <input type="text" required id="camp-subject" name="subject" />
    </div>

    <div class="form-camp">
      <label for="camp-message">Mensaje</label>
      <textarea id="camp-message" required name="message"></textarea>
    </div>

    <button class="button">Enviar</button>
  </form>
</div>

<style lang="scss">
  @use "../styles/variables.scss" as v;
  @use "../styles/mixins.scss" as m;

  .form-cont {
    margin-bottom: 10rem;

    h2 {
      margin-bottom: 5rem;
    }
  }

  .form {
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;

    @include m.tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .form-camp {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-bottom: 2.5rem;

      @include m.tablet {
        margin-bottom: 0.5rem;

        &:nth-child(-n + 2) {
          width: calc(50% - 1rem);
        }
      }

      label {
        margin-bottom: 1rem;
        font-size: 1.8rem;
      }

      input,
      textarea {
        height: 4.5rem;
        font-size: 2rem;
        color: v.$primary;
        background-color: v.$white;
        border-radius: 0.5rem;
        border: 0.1rem solid v.$gray-l;
        padding-left: 1rem;
        outline: none;
        font-family: inherit;

        &:focus {
          border: none;
          outline: 0.2rem solid lighten(v.$purple, 15%);
        }
      }

      textarea {
        padding: 1rem;
        height: 15rem;
        resize: none;
      }
    }

    button {
      margin-top: 2.5rem;
      width: 100%;
      font-size: 2rem;

      @include m.tablet {
        display: block;
        margin-left: auto;
        width: 20rem;
      }
    }
  }
</style>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>

<script type="text/javascript">
  (function () {
    emailjs.init(import.meta.env.EMAIL_KEY);
  })();
</script>

<script type="text/javascript">
  window.onload = function () {
    document
      .getElementById("contact-form")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        emailjs
          .sendForm(
            import.meta.env.EMAIL_SERVICE,
            import.meta.env.EMAIL_FORM,
            this
          )
          .then(
            function () {
              console.log("SUCCESS!");
            },
            function (error) {
              console.log("FAILED...", error);
            }
          );
      });
  };
</script>
