---
import { Icon } from "astro-icon";
---

<footer id="#contact">
  <div class="footer-cont container">
    <h2>Nelson Macias</h2>
    <div class="icons">
      <a href="https://www.linkedin.com/in/nelson-macias/" target="_blank">
        <Icon name="ri:linkedin-fill" class="icon" />
      </a>
      <a href="https://github.com/NelsonAMR" target="_blank">
        <Icon name="bi:github" class="icon" />
      </a>
      <a
        href="https://api.whatsapp.com/send/?phone=528621021596"
        target="_blank"
      >
        <Icon name="bi:whatsapp" class="icon" />
      </a>
    </div>
    <p>"Si puedes pensarlo, puedes programarlo"</p>
  </div>
</footer>

<style lang="scss">
  @use "../styles/variables.scss" as v;
  @use "../styles/mixins.scss" as m;

  footer {
    background-color: v.$secondary;
    min-height: 15rem;
  }

  .footer-cont {
    padding-block: 3rem;
    text-align: center;
    color: v.$white;

    h2 {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    .icons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 3rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.1rem solid v.$white;
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        transition: 150ms;

        @include m.tablet {
          &:hover {
            scale: 1.1;
          }
        }

        .icon {
          width: 2rem;
          color: v.$white;
          cursor: pointer;
        }
      }
    }
  }
</style>
