---
import { Nav } from "./";
---

<header>
  <div class="header-cont container">
    <h2>Nelson</h2>
    <Nav />
  </div>
</header>

<style lang="scss">
  header {
    height: 8rem;
    width: 100%;
  }

  .header-cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
