---
import { Nav } from "./";
---

<header id="header">
  <div class="header-cont container">
    <a href="#home"><h2>NM</h2></a>
    <Nav />
  </div>
</header>

<style lang="scss">
  @use "../styles/variables.scss" as v;

  header {
    position: sticky;
    height: 8rem;
    width: 100%;
    top: 0;
    left: 0;
    background-color: v.$theme;
    transition: box-shadow 200ms;
    z-index: 1;

    h2 {
      cursor: pointer;
      font-size: 4rem;
      color: v.$secondary;
    }
  }

  .header-cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header.header-move {
    box-shadow: 0 1rem 1rem -1rem v.$dark;
  }
</style>

<script>
  const header = document.getElementById("header") as HTMLElement;

  window.addEventListener("scroll", onScroll);

  function onScroll() {
    if (window.scrollY > 10) {
      header.classList.add("header-move");
    } else {
      header.classList.remove("header-move");
    }
  }
</script>
