---
import { Nav } from "./";
---

<header id="home">
  <div class="header-cont container">
    <a href="#home"><h2>NM</h2></a>
    <Nav />
  </div>
</header>

<style lang="scss">
  header {
    height: 8rem;
    width: 100%;

    h2 {
      cursor: pointer;
      font-size: 4rem;
    }
  }

  .header-cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
