---
import { Icon } from "astro-icon";
---

<div class="nav-cont">
  <div class="nav-mobile">
    <Icon name="ic:round-menu" class="icon" id="menu" />

    <div class="nav-bg" id="nav">
      <nav>
        <a href="#home">Inicio</a>
        <a href="#about">Acerca</a>
        <a href="#skills">Habilidades</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contactar</a>
      </nav>
    </div>
  </div>

  <nav>
    <a href="#home">Inicio</a>
    <a href="#about">Acerca</a>
    <a href="#skills">Habilidades</a>
    <a href="#projects">Proyectos</a>
    <a href="#contact">Contactar</a>
  </nav>
</div>

<style lang="scss">
  @use "../styles/variables.scss" as v;
  @use "../styles/mixins.scss" as m;

  .nav-cont {
    display: flex;
    align-items: center;

    nav {
      display: none;

      @include m.tablet {
        display: flex;
        gap: 2rem;
        font-size: 1.8rem;
      }
    }
  }

  .nav-mobile {
    @include m.tablet {
      display: none;
    }

    .icon {
      width: 4rem;
      cursor: pointer;
    }

    .nav-bg {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: translate(100%, 0);
      transition: transform 200ms;

      nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: v.$light;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 45rem;
        height: 100%;

        a {
          font-size: 2rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
</style>

<script>
  const menu = document.getElementById("menu");
  const nav = document.getElementById("nav");

  menu?.addEventListener("click", showNav);
  nav?.addEventListener("click", closeNav);

  function showNav() {
    if (nav) {
      nav.style.backgroundColor = "rgb(0, 0, 0, 0.75)";
      nav.style.transform = "translate(0, 0)";
    }
  }

  function closeNav() {
    if (nav) {
      nav.style.backgroundColor = "rgb(0, 0, 0, 0)";
      nav.style.transform = "translate(100%, 0)";
    }
  }
</script>
