---
import { SkillCard } from "./";
import { skills } from "../utils/skills";
---

<section id="skills" class="skills">
  <h2>Tecnologias</h2>

  <div class="skills-cont">
    {
      skills.map((skill) => (
        <SkillCard
          key={skill.id}
          img={skill.img}
          name={skill.name}
          level={skill.level}
        />
      ))
    }
  </div>
</section>

<style lang="scss">
  @use "../styles/mixins" as m;

  .skills {
    margin-bottom: 10rem;

    h2 {
      margin-bottom: 5rem;
    }
  }

  .skills-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    animation-name: come;
    animation-duration: 2s;

    @include m.tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  @keyframes come {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
