---
import { Header, Footer } from "../components";

import "../styles/globals.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio Web de Nelson Macias, Desarrollador de Software con mas de dos años de experiencia." />
    <meta name="keywords" content="Portafolio, Nelson Macias, Desarrollador de Software, Frontend, Backend, Full Stack, Web, JavaScript, React, NextJS, VueJS, Astro, HTML, CSS, Tailwind, Bootstrap, NodeJS, ExpressJS, NestJS, Java, Springboot, Español, Ingles, Mexico, English" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Portafolio Web de Nelson Macias">
    <meta property="og:type" content="website" />
    <meta property="og:description"
      content="Portafolio Web de Nelson Macias, Desarrollador de Software con mas de dos años de experiencia.">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
